.button {
    padding: 16px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
}

.small {
    height: 28px;
}

.medium {
    height: 36px;
}

.large {
    height: 56px;
}

.primary {
    background-color: #FF7700;
    color: #fff;
}

.secondary {
    background-color: rgba(131, 102, 86, 0.12);
    color: #2E2F33;
}
